/* Colores de floristería */
body {
    background-color: #f5f5f5;
    font: helvetica, sans-serif;
}

.body-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedor {
    text-align: center;
}
.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    margin: 20px auto;
    background-color: #51a8db;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
}
.boton:hover {
    background-color: #3287b8;
}

/*margen superior entre labels */
label {
    margin-top: 10px;
}

/* tabla centrada y el mismo estilo con border en celdas. Está en un contenedor */
table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
#contenedor {
    width: 50%;
    margin: 0 auto;
}



/* Un botón bonito y centrado */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Todo ocupa el ancho*/
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Los errores cada uno en una línea y también bonitos */
.error {
    color: red;
    display: block;
}

.exito {
    color: rgb(23, 203, 83);
    display: block;
}

form {
    width: 50%;
    margin: 0 auto;
}
label {
    display: block;
    font-weight: bold;
}
