<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Detalle de meme </title>
</head>
<body>
    <h1>{{ meme.descripcion }}</h1>
    <img src="{{ meme.imagen.url }}" height="40" alt="">

    <h3> Añadir comentario: </h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ comentario_form.as_p }}
        <input type="submit" value="Postear">
    </form>

    <h2> Comentarios: </h2>
    {% if comentarios %}
        <div class="lista-comentarios">
            {% for comentario in comentarios %}
                <div class="comentario">
                    {{ comentario.nombre }} <br>
                    {{ comentario.contenido }}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p> No hay comentarios publicados </p>
    {% endif %}
</body>
</html>