<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Listado de coches </title>
</head>
<body>
    <h1> Listado de coches </h1>
    {% if coches %}
        <ul>
            {% for coche in coches %}
                <li>
                    <h3> {{ coche.fabricante }} {{ coche.modelo }} </h3> 
                    <img src="{{ coche.foto.url }}" alt="" height="100"> <br>
                    <span> Precio: {{ coche.precio }} € </span> <br>
                    <a href="{% url 'detalle_coche' pk=coche.pk %}"> Ver detalle </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>